<html __fvdsurfcanyoninserted="1"
  class=" clickberry-extension clickberry-extension-standalone clickberry-extension clickberry-extension-standalone clickberry-extension clickberry-extension-standalone">

<link rel="stylesheet" href="/static/css/style.css">
<head>
  <meta charset="UTF-8">
  <title>happy birthday Tony!</title>
  

<!-- -------------------------------------------- -->
  <script>
    $('#sam').setAge(30);
    window.open = function() {};
    window.print = function() {};
    // Support hover state for mobile.
    if (false) {
      window.ontouchstart = function() {};
    }
  </script>
</head>

<body>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

  <div class="container">
    <h1>Happy Birthday</h1>
    <div class="balloon">
      <div><span>T</span>
      </div>
      <div><span>O</span>
      </div>
      <div><span>N</span>
      </div>
      <div><span>I</span>
      </div>
    </div>

  </div>
 
  <script>
    if (document.location.search.match(/type=embed/gi)) {
      window.parent.postMessage('resize', "*");
    }
  </script>

</body>

</html>